.home_page {
    display: flex;
    justify-content: center;
}

.home_header {
    padding: 100px 0 0 0;
    background-color: #ECE2DA;
    border-radius: 0px 0px 196px 197px / 0px 0px 34px 34px;
    box-shadow: 0px 5px 10px -3px #5f5c59;
}


.home_header .margin0Auto {
    margin: 0 auto;
}

.home_background {
    margin: 0 auto;
    height: 700px;
    background-image: url('../images/Planty6.png'), url('../images/Group4.png'), url('../images/Group3.png');
    background-position: center center, calc(50% - 180px)190px, calc(50% + 168px)190px;
    background-repeat: no-repeat;
    background-size: auto;
    box-sizing: border-box;
}

.wp-container-9,
.home_les_gouts {
    padding: 50px;
}

.wp-container-19 {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.wp-container-26 {
    padding: 100px;
}

.wp-container-41 {
    padding: 0 50px;
}

.wp-container-24 {
    margin: 100px 0;
}

.les_gouts {
    padding: 50px 0;
    background-color: #ECE2DA;
    border-radius: 0px 0px 196px 197px / 0px 0px 15px 15px;
}

.les_gouts h2 {
    margin: 0;
}

.wp-block-button__link {
    background-color: #E0B9B4;
    max-width: 198px;
    height: 55px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wp-block-button__link:hover {
    background-color: #C02E44;
    color: white;
}

.wp-container-37 {
    display: flex;
    justify-content: center;
}

.wp-container-43 .bottom_image {
    margin-top: 100px;
}



@media screen and (max-width: 480px) {

    .home_header {
        padding: 0;
        margin: 0;
    }
    .home_header h2 {
        box-sizing: border-box;
        font-size: 16px !important;
        width: 380px;
        padding: 20px;
        margin: 20px auto 0;
    }

    .home_background {
        margin: 0 auto;
        height: 300px;
        background-image: url('../images/Planty6.png'), url('../images/Group4.png'), url('../images/Group3.png');
        background-position: center center, calc(50% - 70px)70px, calc(50% + 68px)70px;
        background-repeat: no-repeat;
        background-size: 150px;
        box-sizing: border-box;
        width: 380px;
    }
    .energie_des_plantes {
        text-align: justify;
        text-align-last: center;
        width: 350px !important;
        margin: 0 auto;
    }

    .energie_des_plantes br {
        display: none;
    }

    .les_gouts img {
        width: 300px;
        margin: 0 auto;
        border-radius: 5px;
    }

    .wp-container-19, .wp-container-11 {
        width: 380px;
        margin: 0 auto;
    }
    .wp-container-14, .wp-container-17 {
        padding: 0;
        max-width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0;
    }

    .wp-container-14 .wp-block-column, .wp-container-17 .wp-block-column {
        height: fit-content;
    }

    .wp-container-14 .wp-block-column figure, .wp-container-17 .wp-block-column figure {
        margin: 10px auto;
        padding: 0;
        height: fit-content;
    }

    .wp-container-11 p {
        width: 300px;
        margin: 20px auto 10px;
    }

    .wp-container-20 .wp-block-button {
        width: 190px !important;
        margin-top: 15px;
    }

    .wp-container-24 {
        margin: 40px auto 10px;
        padding: 0;
    }

    .wp-container-39 {
        width: 350px !important;
        margin: 0 auto;
        padding: 0;
        position: relative;
    }

    .wp-container-39 img {
       max-width: 60px;
       border: 1px solid red;
    }

    .wp-container-27 {
        margin: 0;
        padding: 0;
    }
}